{% extends "base.html" %}
{% block content %}
<main id="main-container" class="container px-3 mx-auto">
    <div class="row">
        <form method="POST" class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
            {{ template_form.hidden_tag() }}
            <div class="border-start border-secondary border-5 px-4 mb-3">
                <label for="age" class="form-label h6">Your age:</label>
                <input type="number" class="form-control" name="age" id="age" aria-describedby="ageHelp">
            </div>
            <div class="text-danger text-center">
                {{ template_form.errors['age'] | first }}
            </div>
            <div class="d-grid mb-1">
                {{ template_form.submit(class="btn btn-primary mt-4") }}
            </div>
            <p class="text-center fs-6 text-secondary fst-italic">2 / 16</p>
        </form>
    </div>
</main>
{% endblock %}