{% extends "base.html" %}
{% block content %}
<main id="main-container" class="container py-2 px-3 mx-auto">
    <div class="row">
        <form action="/" method="POST" class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
            {{ template_form.hidden_tag() }}
            <h2 class="text-center mb-3">Enter your information</h2>

            <h3 class="h5">Gender:</h3>
            {% for gender, label in genderOptions.items() %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" value="{{ gender }}" id="{{ gender }}">
                <label class="form-check-label" for="{{ gender }}">
                    {{ label }}
                </label>
            </div>
            {% endfor %}
            <div class="text-danger text-center">
                {{ template_form.errors['gender'] | first }}
            </div>
            {{ template_form.submit }}
        </form>
    </div>
</main>
{% endblock %}