{% extends "base.html" %}
{% block content %}
<main id="main-container" class="container py-2 px-3 mx-auto">
    <div class="row">
        <form method="POST" class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
            {{ template_form.hidden_tag() }}
            <h2 class="text-center mb-3">Enter your information</h2>

            <h3 class="h5">How much time per day do you use technological devices such as your cell phone, videogames, television, computers, and others?</h3>
            {% for value, label in tueOptions.items() %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tue" value="{{ value }}" id="tue-{{ value }}">
                <label class="form-check-label" for="tue-{{ value }}">
                    {{ label }}
                </label>
            </div>
            {% endfor %}
            <div class="text-danger text-center">
                {{ template_form.errors['tue'] | first }}
            </div>
            {{ template_form.submit }}
        </form>
    </div>
</main>
{% endblock %}