{% extends "base.html" %}
{% block content %}
<main id="main-container" class="container py-2 px-3 mx-auto">
    <div class="row">
        <form method="POST" class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
            {{ template_form.hidden_tag() }}
            <h2 class="text-center mb-3">Enter your information</h2>
            <div class="mb-3">
                <label for="weight" class="form-label">Weight</label>
                <div class="input-group">
                    <input type="number" step="any" name="weight" class="form-control" id="weight" aria-describedby="weightHelp">
                    <select class="form-select" name="weightUnit" aria-label="select weight unit">
                        <option selected>kg</option>
                        <option value="lbs">lbs</option>
                    </select>
                </div>
            </div>
            <div class="text-danger text-center">
                {{ template_form.errors['weight'] | first }}
            </div>
            <div class="d-grid">
                {{ template_form.submit(class="btn btn-primary mt-2") }}
            </div>
        </form>
    </div>
</main>
{% endblock %}